.header-propos {
  background-color: #F3ECEF;
  padding: 2rem 20rem;
  img {
    // max-height: 30vh;
  }
}
.text-propos {
  padding: 2rem;
  background-color: #fff;
}
.container-roman {
  padding: 2rem;
  h1 {
    padding-bottom: 2rem;
  }
  p {
    line-height: 1.8;
  }
}
.container-pretty-quote {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 5rem;
}
.pretty-quote {
  color:#fff;
  text-align: center;
  font-size: 31px;
}
.container-contact {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 20rem;
  .text-contact {
    color:#fff;
    text-align: center;
    p {
      font-size: 22px;
      margin-bottom: 5rem;
    }
  }
}
// Tablette
@media (max-width: 1220px) and (min-width: 768px) {
  .header-propos {
    padding: 2rem 5rem;
  }
}
// Mobile
@media (max-width: 768px) {
  .header-propos {
    padding: 0;
  }
  .container-pretty-quote, .container-contact {
    padding: 8rem 1rem;
  }
  .pretty-quote {
    opacity: 0.8;
  }
}