.rigth-side-header {
  padding: 0 3rem;
  background-color: #b35c7f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.btn-classique {
  color: #fff;
  border: 1px solid #fff;
}
.btn-classique:hover {
  background-color: #fff;
  color: #b35c7f;
}

.propos-container {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  h2 {
    text-align: center;
  }
}

.text-important {
  text-align: center;
  font-size: 1.3rem;
}
.presta-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.presta-colonne {
  border: 1px solid #b35c7f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-colonne {
    color: #b35c7f;
  }
  ul {
    list-style-type: disc;
    li {
      line-height:1.7em;
    }
  }
  .prix {
    margin: 1rem 0 2rem 0;
  }
}
.presta-red {
  .btn-see-more {
    color:#fff;
    background-color: #b35c7f;
  }
  .btn-see-more:hover {
    color:#b35c7f;
    background-color: #fff;
  }
}
.presta-green {
  .btn-see-more {
    color:#fff;
    background-color: #82cdb1;
  }
  .btn-see-more:hover {
    color:#82cdb1;
    background-color: #fff;
  }
}
.testimony-container {
  padding: 0 2rem;
}
.testimony-block {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem;
  .symbole-quote {
    color: #FF6161;
  }
  .testimony-name {
    font-size: 1.5rem;
    color: #FF6161;
  }
}
.container-discute {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 5rem;
  .block-discute {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  p {
    margin: 4rem 0;
  }
  
}
// Tablette
@media (max-width: 1220px) and (min-width: 768px) {
  .rigth-side-header {
    padding: 3rem 3rem;
  }
  .texte-bloc {
    padding: 1rem;
  }
}
// Mobile
@media (max-width: 768px) {
  .texte-bloc {
    padding: 1rem;
  }
  .rigth-side-header {
    padding: 3rem 3rem;
    a {
      margin-bottom: 2rem;
    }
  }
  .parallax-text {
    font-size: 3rem!important;
  }
  .container-tableau {
    padding: 0 2rem;
  }
  .presta-colonne {
    margin: 0 0 2rem;
  }
  .testimony-block {
    padding: 2rem 2rem;
  }
}