@font-face {
  font-family: avenirLight;
  src: url(../fonts/AvenirLight/AvenirLight.ttf);
}
@font-face {
  font-family: forum;
  src: url(../fonts/Forum/Forum-Regular.ttf);
}
@font-face {
  font-family: permanentMarker;
  src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: linotypeDidot;
  src: url(../fonts/LinotypeDidot/linotype-didot-roman.ttf);
}
body,
html {
  font-family: avenirLight, "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
.quote {
  font-family: linotypeDidot;
  font-style: italic;
}
h1,
h2,
h3,
h4 {
  font-family: forum, "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 17px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  margin: auto;
  height: 2px;
  width: 20rem;
  text-align: center;
  position: relative;
  background: #b35c7f;
  margin-bottom: 20px;
  border: 0;

}

/* Navigation */
/* .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #BE9582 0%, #E7D2C9 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #BE9582;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #BE9582;
} */
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #BE9582;
  background-image: linear-gradient(to right, #BE9582 0%, #E7D2C9 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #BE9582;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
@media (max-width: 1220px) and (min-width: 768px) {

}
@media (max-width: 768px) {
  .col-md-6 {
    padding: 0;
  }
  #about img {
    margin: 50px 0;
  }
}

