.accompagnement-header {
  background-color: #f3ecef;
  position: relative;
  padding: 4rem 0 4rem;
  .right-panel {
  }
  .left-panel {
    // position: absolute;
    
    // top:100px;
    // left: 700px;
    // height: 410px;
    background-color: #fff;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.container-mission {
  padding: 4rem 2rem;

}
.block-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 2rem 0;
    text-align: center;
  }
}
.container-pillier {
  min-height: 600px;
  color: #fff;
  padding: 3rem 15rem;
  .header-pillier {
    display: flex;
    align-self: center;
    flex-direction: column;
    h3 {
      text-align: center;
    }
    hr {
      margin: auto;
      opacity: 1;
    }
  }
  
  .block-pillier {
    background-color: rgba(255, 255, 255, 0.363);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    hr {
      margin-top: 1rem;
      width: 80%;
      opacity: 1;
    } 
    h3, hr {
      text-align: center;
      color: #fff;
      opacity: 1;
    }
  }
  


}

.block-domino-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  text-align: center;
  background-color: #f3ecef;
  ul {
    text-align: start;
  }
  .important {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
  }
  ul {
    list-style-type: disc;
  }
}
.container-tableau {
  margin: 2rem auto;
  ol {
    list-style: decimal
  }
}
.container-container-discute { 
  background-color: #f3ecef;
}
// Tablette
@media (max-width: 1220px) and (min-width: 768px) {
  .accompagnement-header {
    .left-panel {
      position: inherit;
    }
  }
  .container-pillier {
    padding: 2rem 5rem;
  }
  .block-domino-text {
    padding: 2rem 8rem;

  }
}
// Mobile
@media (max-width: 768px) {
  .accompagnement-header {
    .left-panel {
      position: inherit;
    }
  }
  .container-pillier {
    padding: 2rem 2rem;
    .header-pillier {
      margin-bottom: 2rem;
    }
  }
}