#prestation {
    background: #F6EFEC;
}


#prestation .frame-container {
    padding: 0rem 5rem 5rem 5rem;

    .title {
        margin: 4rem 0;
    }
    .tarif-title {
        margin: 3rem 0;
    }
    .sub-title {
        padding-top: 2rem;
        max-width: 600px;
        margin: auto;
        margin-bottom: 2rem;
    }
    .title span {
        font-family: 'Dancing Script', cursive;
        font-size: 47px;
    }

    .sub-title span{
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.1em;
        overflow-wrap: break-word;
    }    
}
.frame-list {
    padding: 1rem 5rem 0;
    text-align: start;
    .list-item {
        margin: 4rem 0;
        display: flex;
        align-items: center;
    }
    .list-number {
        display: inline-block;
        min-width: 30px;
        font-size: 47px;
        line-height: 1.1em;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        color: #BE9582;
        margin-right: 5rem;
    }
    .list-text {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
    }
}
.bilan-com .last-child{
    align-items: flex-start;
}
.tarif {
    margin-top: 2rem;
}
.btn-presta {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: #BE9582;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #BE9582;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    padding: 1.5rem 2rem;
    cursor: default;
  }
  
.btn-presta:hover, .accompagnement .btn-success:hover,  .btn-presta:focus{
    color: #BE9582;;
    background: #fff;
    border: 2px solid #BE9582;
}

@media (max-width: 768px) {
    #prestation .frame-container {
        padding: 0 2rem 3rem;
        .title{
            line-height: 3rem;
        }
        .sub-title span{
            font-size: 17px;
        }
        .list-text {
            font-size: 15px;
        }
    }

    .frame-list {
        padding: 1rem 0 0;
    }
    .bilan-com .last-child{
        align-items: center;
    }
}