/* @media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
} */
.section-full-container {
  background: #f1f0f0;
  padding: 3rem 0;
}
.frame-container {
  background: #ffffff;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.form-group {
  margin: 1rem;
}
.visibility-hidden {
  visibility: hidden;
}
.bold {
  font-weight: bold;
}
.no-break-line {
  white-space: nowrap;
}
@media (min-width: 1200px){
  .container {
      width: 820px;
  }

}