/* @media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
} */
.section-full-container {
  background: #f1f0f0;
  padding: 3rem 0;
}
.frame-container {
  background: #ffffff;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.form-group {
  margin: 1rem;
}
.visibility-hidden {
  visibility: hidden;
}
.bold {
  font-weight: bold;
}
.no-break-line {
  white-space: nowrap;
}
.parallax {

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  span {
    font-size: 4rem;
  }
}
.underline {
  text-decoration: underline;
}
.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}
.full-img-background {
  width: 100%;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.invisible-link {
  color: inherit;
  text-decoration: inherit;
}
.invisible-link:hover {
  color: inherit;
}
.btn-contact {
  background-color: #b35c7f;
  color: #fff;
}
.btn-contact:hover {
  background-color: #fff;
  color: #b35c7f;
  border: #b35c7f solid 1px;
}
@media (min-width: 1200px){
  .container {
      width: 820px;
  }
}
